<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<div class="container">
	<h1>Dice game</h1>
	<hr>
	<h2>Welcome</h2>
	Here are the rules:
	<ul>
		<li>Roll the dice to start the game.</li>
		<li>If your first roll is a 7 or 11, you win.</li>
		<li>If your first roll is a 2, 3 or 12, you lose.</li>
		<li>Anything else becomes your goal. 
		Roll your goal again before rolling a 7, and you win. 
		Roll a 7 instead of your goal, and you lose.
		</li>
	</ul>
	<a class="btn btn-lg btn-success" href="/dice/roll">Roll to start game!</a>
</div>