<h1>Rock, Paper, Scissors</h1>

Hello! This is a game of rock-paper-scissors.
<br>
<br>
Choose your weapon 
<a href="/rps_play?weapon=rock">Rock</a>,
<a href="/rps_play?weapon=paper">Paper</a>,or
<a href="/rps_play?weapon=scissors">Scissors</a>